---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';
let description = 'Astro + Open-Props starter site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout {title} {description}>
  <main>
    <section>
      <div class="surface-samples">
        <div class="surface1 rad-shadow">1</div>
        <div class="surface2 rad-shadow">2</div>
        <div class="surface3 rad-shadow">3</div>
        <div class="surface4 rad-shadow">4</div>
      </div>
    </section>

    <section>
      <div class="text-samples">
        <h1 class="text1">
          <span class="swatch brand rad-shadow"></span>
          Brand
        </h1>
        <h1 class="text1">
          <span class="swatch text1 rad-shadow"></span>
          Text Color 1
        </h1>
        <h1 class="text2">
          <span class="swatch text2 rad-shadow"></span>
          Text Color 2
        </h1>
        <br>
        <p class="text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="text2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: var(--size-10);
  }
  
  section {
    display: grid;
    gap: var(--size-6);
  }
  
  h1 {
    font-weight: var(--font-weight-1);
  }
  
  p {
    max-inline-size: var(--size-content-1);
    font-size: var(--font-size-4);
    line-height: var(--font-lineheight-3);
  }
  
  .surface-samples {
    display: grid;
    --size: var(--size-content-1);
    grid-template-columns: var(--size) var(--size);
    grid-auto-rows: var(--size);
    gap: var(--size-5);
  
    @media (width <= 480px) { & {
      --size: 40vw;
    }}
  
    & > * {
      border-radius: var(--radius-3);
      display: grid;
      place-content: center;
      font-size: var(--font-size-8);
      font-weight: var(--font-weight-2);
    }
  }
  
  .text-samples {
    display: grid;
    gap: var(--size-4);
  
    & > h1 {
      font-size: var(--font-size-6);
      display: inline-flex;
      align-items: center;
      gap: var(--size-3);
    }
  }
  
  .brand {
    color: var(--brand);
    background-color: var(--brand);
  }
  
  .surface1 {
    background-color: var(--surface1);
    color: var(--text2);
  }
  
  .surface2 {
    background-color: var(--surface2);
    color: var(--text2);
  }
  
  .surface3 {
    background-color: var(--surface3);
    color: var(--text1);
  }
  
  .surface4 {
    background-color: var(--surface4);
    color: var(--text1);
  }
  
  .text1 {
    color: var(--text1);
    @nest p& {
      font-weight: var(--font-weight-2);
    }
  }
  
  .text2 {
    color: var(--text2);
  }
  
  .swatch {
    display: inline-block;
    flex-shrink: 0;
    inline-size: var(--size-8);
    block-size: var(--size-8);
    border-radius: var(--radius-round);
  
    &.text1 { background-color: var(--text1); }
    &.text2 { background-color: var(--text2); }
  }
  
  .rad-shadow {
    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
    box-shadow: 0 1rem .5rem -.5rem;
    box-shadow:
      0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
      0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 1%)),
      0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
      0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
      0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
      0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength))
    ;
  }
</style>